<div>
    <form action="" method="post" class="form-horizontal">
        {% if form.non_field_errors %}
        <div class="col-sm-10 col-sm-offset-2 alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="fieldWrapper form-group">
            {{form.full.errors}}
            <label for="{{ form.full.id_for_label }}" class="col-sm-2 control-label">Full URL:</label>
            <div class="col-sm-10">{{ form.full }}</div>
        </div>
        {% if data %}
        <div class="fieldWrapper form-group has-success">
            <label for="{{ form.short.id_for_label }}_url" class="col-sm-2 control-label">Short URL:</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-11">
                        <a href={{short}}><input type="text" class="form-control" style="text-align: left;" value='{{short|default:"ERROR"}}' id="short_url" disabled></input>
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default glyphicon glyphicon-copy copy-button" id="copyButton" onclick="copyToClipboard( '{{short}}' )"></button >
                    </div>
                    </div>
                </div>
            </div>
            <div class="fieldWrapper form-group ">
                {{form.short.errors}}
                <label for="{{ form.full.id_for_label }}" class="col-sm-2 control-label">Customize URL:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" value={{prefix_server}} class="form-control" disabled></input>
                        </div>
                        <div class="col-sm-8"> {{ form.short }}</div>
                    </div>
                </div>
            </div>
            {% endif%} {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                        <button type="button" onclick="location.href = '{{prefix_server}}';" id="home" class="btn btn-default glyphicon glyphicon-home"></button>
                    </div>
                </div>
    </form>
    </div>